.skeleton-card {
    width: 100%;
    width: 200px; /* Adjust the width as needed */
    background-color: #f0f0f0;
    height: 340px;
    border-radius: 12px;
    margin-right: 12px;
    overflow: hidden;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(203, 6%, 44%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  .skeleton-image {
    border-radius: 12px;
    height: 0;
    margin-right: 10px;
    padding-top: 150%; /* Adjust the aspect ratio of the card */
    
  }
  
  .skeleton-overlay {
    padding: 0px;
  }
  
  .skeleton-title {
    height: 1px;
    width: 0%;
    background-color: #f0f0f0;;
    margin-bottom: 0px;
  }
  
