header {
  width: 100%;
  height: 60px;
  background-color: rgba(8, 21, 31, 0.724); /* Set initial opacity to 0 */
  text-align: center;
  border: 0;
  border-radius: 0px;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}


nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-radius: 0;
  border: none;
  width: 100%;
}

nav a {
  color: #fff;
  padding: 10px 20px;
  font-size: larger;
  font-weight: 400;
  text-decoration: none;
}

nav a:hover {
  color: rgb(254, 15, 31);
  
}

.image1 {
  height: 70px;
  border-radius: 0px;
}

.log {
  position: relative;
  display: flex;
  align-items: center;
}

.logout-icon {
  margin-right: 5px;
}
.user-greeting{
  color: #fff;
  display: flex;
  position: relative;
  margin-top: 18px;
  font-size: large;
  align-items:center;
  margin-left: 30px;
}



@media (max-width: 900px) {
  /* Adjusted header styles */
  header {
    height: 59px;
    background-color: rgba(8, 21, 31, 0.63);
    opacity: 1;
    position: sticky;
    
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

 



  nav a {
    font-size: small;
    margin: 0;
    padding: 10px;
  }


  .log {
    display: flex;
    right: 100px;
    position: relative;
    font-size: medium;
  }

  .user-greeting {
    display: none;
  }


  .image1 {
    height: 40px;
  }
}
@media (max-width: 703px){
  .nav-links{
    display: none;
  }
} 

@media (max-width: 480px) {
  /* Adjusted header styles */
  header {
    height: 50px;
    background-color: rgba(8, 21, 31, 0.63);
    opacity: 1;
    position: sticky;
    transition: background-color 0.2s ease, opacity 0.2s ease;
  }

  
  .log{
    font-size: medium;
    margin-left: 160px;
  }

  .nav-links{
   display: none;
  }

  .search{
    left: 140px;
  }
  .user-greeting {
    display: none;
  }

 

  .image1 {
    
    height: 40px;
  }
}